/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB1>, <&macro_wait_time 20>, <&m1>;

            label = "m1";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Directional {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                                                             &kp N6         &kp N7       &kp N8     &kp N9        &kp N0          &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E   &kp R     &kp T                                                              &kp Y          &kp U        &kp I      &kp O         &kp P           &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D   &kp F     &kp G                                                              &kp H          &kp J        &kp K      &kp L         &mt SEMI UP     &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V     &kp B     &mt LEFT_PARENTHESIS LBKT    &mt RIGHT_PARENTHESIS RBKT  &kp N          &kp M        &kp COMMA  &mt DOT LEFT  &mt SLASH DOWN  &mt RSHFT RIGHT
                           &to 1   &kp LGUI  &kp LALT  &lt 5 SPACE                  &kp ENTER                   &kp BACKSPACE  &kp RA(TAB)  &to 0
            >;
        };

        Home {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                                                             &kp N6         &kp N7       &kp N8     &kp N9   &kp N0     &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E   &kp R     &kp T                                                              &kp Y          &kp U        &kp I      &kp O    &kp P      &kp MINUS
&sk LCTRL  &kp A   &kp S   &kp D   &kp F     &kp G                                                              &kp H          &kp J        &kp K      &kp L    &kp SEMI   &kp SQT
&sk LSHFT  &kp Z   &kp X   &kp C   &kp V     &kp B     &mt LEFT_PARENTHESIS LBKT    &mt RIGHT_PARENTHESIS RBKT  &kp N          &kp M        &kp COMMA  &kp DOT  &kp SLASH  &sk RSHFT
                           &to 2   &kp LGUI  &sk LALT  &lt 5 SPACE                  &kp ENTER                   &kp BACKSPACE  &kp RA(TAB)  &to 0
            >;
        };

        Debugging {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp ESC     &none       &none    &none        &none           &none                         &none              &none        &none  &none  &none  &none
&kp F4      &kp LS(F5)  &kp F5   &kp LA(F1)   &kp LS(LC(F5))  &kp F9                        &none              &none        &none  &none  &none  &none
&kp LCTRL   &kp F10     &kp F11  &kp LS(F11)  &none           &none                         &none              &none        &none  &none  &none  &none
&kp LSHIFT  &none       &none    &none        &none           &none     &none        &none  &none              &none        &none  &none  &none  &kp RSHFT
                                 &to 3        &none           &kp LALT  &kp SPACE    &to 1  &mt DEL BACKSPACE  &kp RA(TAB)  &to 0
            >;
        };

        Numbers {
            bindings = <
&kp ESC     &none     &none     &none      &none             &none                                                    &none              &none        &none   &none   &none          &none
&none       &kp HOME  &kp UP    &kp END    &kp LS(LA(UP))    &none                                                    &none              &kp N7       &kp N8  &kp N9  &none          &none
&sk LCTRL   &kp LEFT  &kp DOWN  &kp RIGHT  &kp LS(LA(DOWN))  &none                                                    &kp N0             &kp N4       &kp N5  &kp N6  &none          &none
&sk LSHIFT  &none     &none     &none      &none             &none     &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &none              &kp N1       &kp N2  &kp N3  &kp BACKSLASH  &sk RSHIFT
                                &to 4      &none             &sk RALT  &kp SPACE               &to 1                  &mt DEL BACKSPACE  &kp RA(TAB)  &to 0
            >;
        };

        Macros {
            bindings = <
&kp ESC     &none             &none         &none              &none           &none                         &none    &none         &none     &none          &none  &none
&none       &kp LC(LG(LEFT))  &kp LG(UP)    &kp LC(LG(RIGHT))  &kp LC(LG(D))   &none                         &none    &kp LC(LEFT)  &kp UP    &kp LC(RIGHT)  &none  &none
&sk LCTRL   &kp LG(LEFT)      &kp LG(DOWN)  &kp LG(RIGHT)      &kp LC(LG(F4))  &none                         &none    &kp LEFT      &kp DOWN  &kp RIGHT      &none  &none
&sk LSHIFT  &none             &none         &kp LS(LA(DOWN))   &kp LS(LA(UP))  &none     &none        &none  &none    &kp LA(LEFT)  &none     &kp LA(RIGHT)  &none  &sk RSHIFT
                                            &to 1              &none           &sk LALT  &kp SPACE    &to 1  &kp DEL  &kp RA(TAB)   &to 0
            >;
        };

        Layers {
            bindings = <
&sys_reset  &m1    &none  &none  &none  &none                               &none              &none         &none     &none        &none          &kp EQUAL
&kp CAPS    &none  &none  &none  &none  &none                               &kp C_VOLUME_UP    &kp HOME      &kp UP    &kp END      &kp PAGE_UP    &none
&sk LCTRL   &to 2  &to 3  &to 4  &none  &none                               &kp C_VOLUME_DOWN  &kp LEFT      &kp DOWN  &kp RIGHT    &kp PAGE_DOWN  &none
&sk LSHFT   &none  &none  &none  &none  &none     &bt BT_PRV    &bt BT_NXT  &kp LC(LS(M))      &kp LS(HOME)  &none     &kp LS(END)  &kp BACKSLASH  &sk RSHFT
                          &to 1  &none  &sk LALT  &kp SPACE     &to 1       &kp DEL            &kp RA(TAB)   &to 0
            >;
        };
    };
};
